<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQrwnk31Orvb0rCaeAiWWbbjQ8KWtT_Sc</string>
	<key>GCM_SENDER_ID</key>
	<string>213938927212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myopia.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>myopia-11ddc</string>
	<key>STORAGE_BUCKET</key>
	<string>myopia-11ddc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213938927212:ios:0f5053b52128da6e0dca49</string>
</dict>
</plist>